@import "../../../styles/settings.scss";

.flag {
  width: 100px;
  max-width: 100px;
}

.intro {
  margin: 0 0 ($base-size * 3) 0;
}

.prices {
  margin: 0;

  .lowerPrice {
    font-size: 24px;
    font-weight: bold;
    color: $color-dark;
  }

  .standardPrice {
    font-size: 18px;
    color: #808080;
  }
}
